<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- bootstrap required-->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    #messageInput {
      border: 1px solid #ccc;
      width: 500px;
      height: 200px;
      border-radius: 10px;
      overflow-y: auto;
      font-size: 14px;
    }
    #msglog{
      border:none;
      
      width: 500px;
      height: 400px;
      overflow-y: auto;
      font-size: 14px;
    }
    #messageInput {
      height: 80px;
    }
    .message {
      font-size: large;
      padding:5px;
      line-height: 22px;
    }
    .message .user {
      font-style:bold;
      font-size: large;
      padding:5px;
      color: rgb(60, 70, 204);
    }
    .sysMsg {
      color: #c1bfbf;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 12px;
    }


    body,html {height:100%;}
      body{
        overflow-y: hidden;
        overflow-x: hidden;
      }
       

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -50px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
  </style>

  <script>
  function parseCookie() {
  var cookieObj = {};
  var cookieAry = document.cookie.split(';');
  var cookie;
  
  for (var i=0, l=cookieAry.length; i<l; ++i) {
      cookie = jQuery.trim(cookieAry[i]);
      cookie = cookie.split('=');
      cookieObj[cookie[0]] = cookie[1];
  }
  
  return cookieObj;
}


function getCookieByName(name) {
  var value = parseCookie()[name];
  if (value) {
      value = decodeURIComponent(value);
  }

  return value;
}
function getCookieByPno(room) {
  var value = parseCookie()[room];
  if (value) {
      value = decodeURIComponent(value);
  }

  return value;
}

</script>
</head>
<body>

  <div style="margin-left:25px;margin-top:10px;">
           <span id="userName" style="display:none"></span>
         <!--房間: {{roomID}} <br/>-->
         <span id="count"style="display:none">{{users.length}}</span> <br/>
       <div id="users"style="display:none">{{users}}</div>
           <h2> {{roomID}}</h2>
      <div class="card" id="hover_bkgr_fricc"  style="display:none">
        <div class="card-body">
          <h5 class="card-title">確定要將對方加為好友？</h5>
          <button class="btn btn-primary" onclick="yes();">是</button>　<button class="btn btn-primary" onclick="no();">否</button>
        </div>
      </div>

      <div class="mesarea">

      <div id="msglog">

        </div>
        <textarea name="message" id="messageInput" style="width:430px"></textarea>
        <br/>
    </div>
<script>
// When the user clicks on div, open the popup
function myFunction() {
  document.getElementById("hover_bkgr_fricc").style.display = "inline";
}

function yes() {
  document.getElementById("hover_bkgr_fricc").style.display = "none";
   window.alert('成功加入好友！');
}

function no() {
  document.getElementById("hover_bkgr_fricc").style.display = "none";
}
</script>

       <!--</div>        
       <div class="mestop">
          <span class="fname2"> {{roomID}}</span>
          <span class="online">在線</span>-
          <img src="img/star1.png" class="star">
          <img src="img/blockade.png" class="block" onclick="myFunction()">

          <li><a href="#" class="jq-clickBtn"><img src="img/more.png" class="more"></a>
          <ul class="jq-dropdown">
            <li><a href="#">檢舉</a></li>          
        </li></ul>
      </div>
      <div class="inputmes">
        <input type="text" class="send">
        <button type="submit" class="sendbtn">發送</button>
      </div>
     
      <div class="memberbox">
        <img src="img/test.jpg" class="sq2">
        <div class="fname3">Name1</div>
      </div>

        </div>tab1



      </div> tab_container    
    </div>box1    
      </div>col-10
  


  </div>
</div>-->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.js"></script>
  <script>
    $(function () {
      // ----------设置昵称-------------
      var userName = '';
      var pic='';
      
      while ($('#userName').text().trim() === '') {
       userName = getCookieByName('name');
        $('#userName').text(userName);
      }
      
      

      // ---------创建连接-----------
      var socket = io();

      // 加入房间
      socket.on('connect', function () {
        var pno = getCookieByPno('room');
        socket.emit('join', userName,pno);
      });

      // 监听消息 '<img src="'+pic+'">'+
      socket.on('msg', function (userName, msg) {
        if (userName=="淑芬")
          pic="https://i.ibb.co/G5bWrK5/user1.png";
        else if (userName=="小美")
          pic="https://i.ibb.co/4WLCVzR/user2.png";
        else 
          pic="https://i.ibb.co/fd3F9NB/image.png";
        var message = '' +
            '<div class="message">' +
              '<img src="' + pic+ '" style="height:70px;width:60px;">'+
            '  <span class="user" style="cursor: pointer;">' + userName + '</span>' +
               '<span onclick="myFunction();" style="cursor: pointer;">：</span>' +
            '  <span class="msg">' + msg + '</span>' +
            '</div>';
        $('#msglog').append(message);
        // 滚动条保持最下方
        $('#msglog').scrollTop($('#msglog')[0].scrollHeight);  
      });

      
      // 监听系统消息
      socket.on('sys', function (sysMsg, users) {
        //var message = '<div class="sysMsg">' + sysMsg + '</div>';
       // $('#msglog').append(message);

        $('#count').text(users.length);
        $('#users').text(users);
      });

      // 发送消息
      $('#messageInput').keydown(function (e) {
        if (e.which === 13) {
          e.preventDefault();
          var msg = $(this).val();
          $(this).val('');

          socket.send(msg);
        }
      });

      // 退出房间
      $('#joinOrLeave').click(function () {
        if ($(this).text() === '退出房間') {
          $(this).text('進入房間');
          socket.emit('leave');
          var msg = '你已經退出了房間,重新發言請再次進入房間';
          $('#msglog').append('<div class="sysMsg">'+msg+'</div>');
        } else {
          $(this).text('退出房間');
          socket.emit('join', userName);
        }

      });
    });
  </script>
</body>
</html>