<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{roomID}}</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="menu.js"></script> 
        <link rel="stylesheet" type="text/css" href="style/comm.css"/>
        <link href="css/icon/css/all.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style/layout.css"/>
<script type="text/javascript" src="script/jquery-1.4.2.min.js"></script>
  <style>
    #msglog, #messageInput {
      border: 1px solid #ccc;
      width: 500px;
      height: 350px;
      overflow-y: auto;
      font-size: 14px;
    }
    #messageInput {
      height: 80px;
    }
    .message {
      line-height: 22px;
    }
    .message .user {
      padding-right: 5px;
      padding-left: 5px;
      color: brown;
    }
    .sysMsg {
      color: #c1bfbf;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 12px;
    }
    #users {
      width: 490px;
      padding: 0 5px 5px;
    }



    body,html {height:100%;}
      body{
        overflow-y: hidden;
        overflow-x: hidden;
      }
        .leftnav{
          background-color: rgb(141, 141, 141);
          height: 100%;
        } 
      a{
        color:black;
      }
      a:hover{text-decoration:none;}
        .mainarea{
          background-color: white;
          overflow:scroll;
        }
       i{
         color:white;
       } 
        .chatdiv{
          color:white;
          width:200px;
          background-color: rgb(141, 174, 211);
          padding:15px;
          margin-top:15px;
          border-radius: 10%;
        }
        .mainboard{
          margin:30px;
          
        }
        #myTabContent{
          padding:30px;
          border-radius:15px;
          background-color: rgb(188, 228, 238);
          height:85%;
        }
        .maindiv{
          background-color:white;
          padding:5px;
          margin-top:10px;
          border-radius: 10px;
          width:60%;
          
        }

        .h2div{
          position: relative;
          z-index: 1;
        }
        .open-button {
          background-color: #555;
          color: white;
          padding: 16px 20px;
          border: none;
          cursor: pointer;
          opacity: 0.8;
          position: fixed;
          bottom: 23px;
          right: 28px;
          height:50px;
          width: 50px;
        }
  
        /* The popup form - hidden by default */
        .form-popup {
          display: none;
          border: 3px solid #f1f1f1;
          position: absolute;
          z-index: 3;
          top:-5px;
          right:-5px;
          width: 350px;
        }
  
        /* Add styles to the form container */
        .form-container {
          max-width: 350px;
          padding: 10px;
          background-color: white;
        }
  
        /* Full-width input fields */
        .form-container input[type=text], .form-container input[type=password] {
          width: 100%;
          padding: 15px;
          margin: 5px 0 22px 0;
          border: none;
          background: #f1f1f1;
        }
  
        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
          background-color: #ddd;
          outline: none;
        }
  
        /* Set a style for the submit/login button */
        .form-container .btn {
          background-color: #4CAF50;
          color: white;
          padding: 10px;
          margin: 5px;
          border: none;
          cursor: pointer;
          width: 30%;
          margin-bottom:10px;
          opacity: 0.8;
        }
  
        /* Add a red background color to the cancel button */
        .form-container .cancel {
          background-color: red;
        }
  
        /* Add some hover effects to buttons */
        .form-container .btn:hover, .open-button:hover {
          opacity: 1;
        }
        
        .percent{
          width:20%;
          margin:10px;
        }

        #myTabContent{
          width:100%;
          overflow:scroll;
          
        }
         #myTabContent::-webkit-scrollbar-track
          {
            border-radius: 10px;
          }

          #myTabContent::-webkit-scrollbar
          {
            width: 10px;
          }

          #myTabContent::-webkit-scrollbar-thumb
          {
            border-radius: 10px;
            background-color:rgba(108,108,108,0.2);
          }

         .mainarea::-webkit-scrollbar-track
          {
            border-radius: 10px;
          }

          .mainarea::-webkit-scrollbar
          {
            width: 10px;
          }

          .mainarea::-webkit-scrollbar-thumb
          {
            border-radius: 10px;
            background-color:rgba(108,108,108,0.2);
          }
ul, li {
  padding: 10px 0;
  list-style: none;
}
.abgne_tab {
  width:240px;
  height: 91%;
  z-index: 2;
  position:absolute;
  top:50px;
  overflow:scroll;
}
.abgne_tab::-webkit-scrollbar-track
{
  border-radius: 10px;
}
.abgne_tab::-webkit-scrollbar
{
  width: 10px;
}
.abgne_tab::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color:rgba(108,108,108,0.2);
}
ul.tabs {
  height: 100%;
}
ul.tabs li {
  width:230px;
  height:70px;
  border: none;
  background: #fff;
  position: relative;
}
ul.tabs li a {
  display: block;
  color: #000;
  text-decoration: none;
}
ul.tabs li a:hover {
  background:   #fff;
}
ul.tabs li.active  {
  background:  #F0F0F0;
}
ul.tabs li.active a:hover {
  background:  #F0F0F0;
}
div.tab_container {
  width: 76%;
  height: 100%;
  position:absolute;
  left:24%;
  bottom: 0px;
  border: none;
  z-index: 1;
}
.sq{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,1.00);
  position:absolute;
  left:5px;
      }
.fname{
  position:absolute;
  left:65px;
  top:3px;
}
.mes1{
  width:150px;
  height: 30px;
  position:absolute;
  left: 65px;
  top:35px;
  font-size: 10px;
}
.mestop{
  width:575px;
  height:80px;
  position:fixed;
  top: 0px;
}
.fname2{
  font-size:27px;
  position:absolute;
  top: 10px;
  left:10px;
}
.online{
  font-size:7px;
  position:absolute;
  top:45px;
  left:20px;
  z-index: 99;
}
.star{
  width:30px;
  position:absolute;
  top:25px;
  right: 100px;
}
.block{
  width:25px;
  position:absolute;
  top:29px;
  right: 60px;
}
.more{
  width:25px;
  position:absolute;
  top:29px;
  right: 20px;
}
.jq-dropdown {
    display: none;
    background:#fff;
    width: 80px;
    position:absolute;
    top:60px;
    right: 10px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
  }
.mesarea{
  width:575px;
  height:100%;
  position:absolute;
  top:80px;
  overflow:scroll;
}
.mesarea::-webkit-scrollbar-track
{
  border-radius: 10px;
}
.mesarea::-webkit-scrollbar
{
  width: 10px;
}
.mesarea::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color:rgba(108,108,108,0.2);
}
.memberbox{
  width: 235.2px;
  height: 100%;
  position:absolute;
  right: 0px;
  border-left: 2px solid  #E0E0E0;
}
.sq2{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,1.00);
  position:absolute;
  top:40px;
  left: 67.6px;
}
.mesr{
  border-radius: 15px;
  padding: 3px 10px;
  text-align: center;
  width: auto;
  background: #2894FF;
  display: inline-block;
  margin-top: 5px;
  color: #fff;
  margin-right:5px;
  font-size: 15px;
}
.mesl{
  border-radius: 15px;
  padding: 3px 10px;
  text-align: center;
  width: auto;
  background:#E0E0E0;
  display: inline-block;
  margin-top: 5px;
  color:black;
  margin-left:5px;
  font-size: 15px;
}
.inputmes{
  width:575px;
  height: 50px;
  position:fixed;
  bottom:0px;
}
.send{
  width: 300px;
  border-radius: 10px;
  border-color: #E0E0E0;
  border-style:solid;
  border-width: 2px;
  position:absolute;
  top:10px;
  right: 70px;
}
.sendbtn{
  border-radius: 10px;
  border-color: #E0E0E0;
  border-style:solid;
  border-width: 2px;
  padding: 1px 5px;
  position:absolute;
  top:10px;
  right: 10px
}
.fname3{
  font-size: 25px;
  position:absolute;
  text-align:center;
  margin-top:150px;  
  width: 233.5px;
}

  </style>

  <script>
  function parseCookie() {
  var cookieObj = {};
  var cookieAry = document.cookie.split(';');
  var cookie;
  
  for (var i=0, l=cookieAry.length; i<l; ++i) {
      cookie = jQuery.trim(cookieAry[i]);
      cookie = cookie.split('=');
      cookieObj[cookie[0]] = cookie[1];
  }
  
  return cookieObj;
}


function getCookieByName(name) {
  var value = parseCookie()[name];
  if (value) {
      value = decodeURIComponent(value);
  }

  return value;
}
function getCookieByRoom(room) {
  var value = parseCookie()[room];
  if (value) {
      value = decodeURIComponent(value);
  }

  return value;
}
</script>
</head>
<body>

  <div class="container-fluid" style="height: 100%;">
    <div class="row justify-content-center" style="height: 100%;">
      <!--第一區-->
      <div class="col leftnav">
        <ul class="nav flex-column" style="height: 100%">
          <li class="nav-item" style="height: 17%"></li>
          <li class="nav-item" style="height: 15%">
            
            <a class="nav-link active" href="member.jsp" style="color:white;font-size:large"><span id="userName"></span></a>
          </li>
          <li class="nav-item" style="height: 10%">
            <a class="nav-link active" href="homepage.jsp"style="color:white;font-size:large"><i class="far fa-newspaper"></i>　話題</a>
          </li>
          <li class="nav-item"style="height: 10%">
            <a class="nav-link" href="notification.jsp"style="color:white;font-size:large"><i class="far fa-bell"></i>　通知</a>
          </li>
          <li class="nav-item"style="height: 10%">
            <a class="nav-link" href="friends.jsp"style="color:white;font-size:large"><i class="far fa-address-book"></i>　好友</a>
          </li>
          <li class="nav-item"style="height: 10%">
            <a class="nav-link" href="#"style="color:white;font-size:large"><i class="far fa-comments"></i>　聊天</a>
          </li>
          <li class="nav-item"style="height: 10%">
            <a class="nav-link" href="logout.jsp"style="color:white;font-size:large"><i class="fas fa-power-off"></i>　登出</a>
          </li>
          <li class="nav-item" style="height: 17%"></li>
        </ul>
      </div>

      <!--第二區-->
      <div class="col-10 mainarea">
        <div id="box1">
         <div class="box2" style="padding: 10px;position:fixed; z-index: 999;width:240px; height: 50px;background: #fff;"> 
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" style="width:150px; height:30px;">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="height:30px; padding: 2.5px;">Search</button>
        </form>        
      </div>
      <div class="abgne_tab">
      <ul class="tabs">
      <li><a href="#tab1">
        <img src="img/test.jpg" class="sq">
        <span class="fname">Name1</span>
        <div class="mes1">
          訊息訊息訊息
        </div>
      </a></li>

    </ul>
    </div>    
    <div class="tab_container">
      <div id="tab1" class="tab_content">
      <div class="mesarea">

       <!-- 用戶: <span id="userName"></span> <br/>
        房間: {{roomID}} <br/>-->
        在線人數: <span id="count">{{users.length}}</span> <br/>
        在線用户:  <div id="users">{{users}}</div>

        <div id="msglog">

        </div>
        <textarea name="message" id="messageInput"></textarea>
        <br/>
        <!--<button id="joinOrLeave">退出房間</button>-->

      </div>        
        <div class="mestop">
          <span class="fname2"> {{roomID}}</span>
        <!--  <span class="online">在線</span>-->
          <img src="img/star1.png" class="star">
          <img src="img/blockade.png" class="block" onclick="myFunction()">

          <li><a href="#" class="jq-clickBtn"><img src="img/more.png" class="more"></a>
          <ul class="jq-dropdown">
            <li><a href="#">檢舉</a></li>          
        </li></ul>
      </div>
    <!--  <div class="inputmes">
        <input type="text" class="send">
        <button type="submit" class="sendbtn">發送</button>
      </div>
    -->  
      <div class="memberbox">
        <img src="img/test.jpg" class="sq2">
        <div class="fname3">Name1</div>
      </div>

        </div><!--tab1--> 



      </div> <!--tab_container-->     
    </div><!--box1-->      
      </div><!--col-10-->
  


  </div>
</div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.js"></script>
  <script>
    $(function () {
      // ----------设置昵称-------------
      var userName = '';
      while ($('#userName').text().trim() === '') {
       userName = getCookieByName('name');
        $('#userName').text(userName);
      }


      // ---------创建连接-----------
      var socket = io();

      // 加入房间
      socket.on('connect', function () {
        socket.emit('join', userName);
      });

      // 监听消息
      socket.on('msg', function (userName, msg) {
        var message = '' +
            '<div class="message">' +
            '  <span class="user">' + userName + ': </span>' +
            '  <span class="msg">' + msg + '</span>' +
            '</div>';
        $('#msglog').append(message);
        // 滚动条保持最下方
        $('#msglog').scrollTop($('#msglog')[0].scrollHeight);  
      });

      // 监听系统消息
      socket.on('sys', function (sysMsg, users) {
        //var message = '<div class="sysMsg">' + sysMsg + '</div>';
       // $('#msglog').append(message);

        $('#count').text(users.length);
        $('#users').text(users);
      });

      // 发送消息
      $('#messageInput').keydown(function (e) {
        if (e.which === 13) {
          e.preventDefault();
          var msg = $(this).val();
          $(this).val('');

          socket.send(msg);
        }
      });

      // 退出房间
      $('#joinOrLeave').click(function () {
        if ($(this).text() === '退出房間') {
          $(this).text('進入房間');
          socket.emit('leave');
          var msg = '你已經退出了房間,重新發言請再次進入房間';
          $('#msglog').append('<div class="sysMsg">'+msg+'</div>');
        } else {
          $(this).text('退出房間');
          socket.emit('join', userName);
        }

      });
    });
  </script>
</body>
</html>